.register {
  height: calc(100vh - 150px);
  display: flex;
  margin-top: 150px;
}

.register-img {
  width: 30%;
  height: 500px;
  margin-top: 40px;
}

.register-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 120px;
}

.register-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0px;
}

.register-inputs input {
  padding: 10px;
  width: 600px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

.register-inputs input:focus {
  border-bottom: 2px solid blue;
}

.register-password, .register-password-check {
  position: relative;
}

.register-password i, .register-password-check i {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

.register button {
  padding: 10px;
  margin: 20px 0px;
  font-size: 20px;
  background-color: green;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.register p span {
  color: brown;
  font-weight: bold;
  cursor: pointer;
}

.register p {
  font-size: 18px;  
}