.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%; 
    background: #E8E9EB;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.navbar .logo {
    width: max(10%,80px);
}
.navbar .profile {
    width: 45px;
    border-radius: 50%;
}