.food-item {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  transition: 0.3s;
  animation: fadeIn 1s;
}

.food-item-img-container {
  position: relative;
}

.first-add:hover {
  transform: scale(1.2);
}

.first-add {
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  font-size: 25px;
}

.food-item-counter {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  gap: 10px;
  background-color: white;
  border-radius: 10px;
}

.food-item-counter i{
  font-size: 20px;
  cursor: pointer;
}

.food-item-counter i:hover {
  transform: scale(1.2);
}

.next-add {
  color: red;
}

.minus {
  color: green;
}

.cart-quantity-input {
  width: 50px;  
  padding-left: 2px;
}

.food-item-img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  height: 200px;
}

.food-item-info {
  padding: 20px;
}

.food-item-name-info {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-item-name-info p {
  font-size: 20px;
  font-weight: 500;
}

.custom-star {
  color: #f69c08;
}

.food-item-description {
  color: #676767;
  font-size: 12px;
}

.food-item-price {
  color:#f69c08;
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0px;
}