.place-order {
    margin-top: 200px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    
}
.place-order-left {
    width: 100%;
    max-width: max(30%,500px);

}
.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.user-info p {
    width: 150px;
    margin: 0;
}

.user-name, .user-gmail, .user-address, .user-phone {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.place-order-left input {
    flex: 1;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color:yellow ;
}

.place-order-right{
    width: 100%;
    max-width: max(40%,500px);
    
}
.place-order .cart-total button{
    margin-top: 30px;
}